h1{
            
    text-align: center;
    width: 100%;
    color: rgb(158, 54, 158);
    text-transform: uppercase;
    border: solid;
    font-size: 50px;
}
p{

    color: rgb(78, 7, 145);
    font-family: "Franklin Gothic Medium";
    text-align: center;
    font-size: 30px;
}
button{
    font-size: 50px;
    margin-left: 45%;
    color: rgb(158, 54, 158);
    border-radius: 50px ;
}